h1 {
    text-decoration: underline;
    color: blue
}

body {
    font-family: 'Courgette', cursive;
    background-color: aquamarine;
    background-image: url("../img/prestige.jpg");
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: top 10px right 20px;
}


ul {
    list-style: square;
}

table, th, td {
    width: 15%;
    border: 2px solid black;
}

tr {
    text-align: center;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: yellow;
}

a:active {
    color: blue;
}